{% extends "base.html" %} {% load custom_filters %} {% block content %}
<div class="container-fluid mt-5" style="width: 90%; margin: auto">
  <div class="text-center my-5">
    <h1 class="display-4 fw-bold text-primary">Find Your Perfect Companion</h1>
    <p class="lead text-muted">
      Browse hundreds of lovable pets waiting for a home. Your new best friend
      could be just a click away 🐾
    </p>

    {% if user.is_authenticated %}
    <a href="{% url 'add_pet' %}" class="btn btn-primary btn-lg mt-3">
      <i class="fas fa-plus-circle me-2"></i> Share a Pet for Adoption
    </a>
    {% else %}
    <a href="{% url 'account_login' %}" class="btn btn-outline-primary btn-lg mt-3">
      <i class="fas fa-sign-in-alt me-2"></i> Log In to Get Started
    </a>
    {% endif %}
  </div>

  {% if messages %}
  <div class="alert alert-success" role="alert" id="success-message">
    {% for message in messages %} {{ message }} {% endfor %}
  </div>
  <script>
    setTimeout(function () {
      const message = document.getElementById("success-message");
      if (message) message.style.display = "none";
    }, 6000);
  </script>
  {% endif %}

  <form method="get" class="justify-content-center">
    <div class="form-row align-items-end justify-content-center mb-3">
      <div class="col-md-2">
        <label for="{{ form.species.id_for_label }}">Species</label>
        {{ form.species|add_class:"form-control" }}
      </div>
      <div class="col-md-2">
        <label for="{{ form.breed.id_for_label }}">Breed</label>
        {{ form.breed|add_class:"form-control" }}
      </div>
      <div class="col-md-2">
        <label for="{{ form.city.id_for_label }}">City</label>
        {{ form.city|add_class:"form-control" }}
      </div>
      <div class="col-md-2">
        <label for="{{ form.country.id_for_label }}">Country</label>
        {{ form.country|add_class:"form-control" }}
      </div>
      <div class="col-md-2">
        <label for="{{ form.posted_by.id_for_label }}">Posted by</label>
        {{ form.posted_by|add_class:"form-control" }}
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-primary w-100">Search</button>
      </div>
    </div>
  </form>

  <div class="grid-container mt-4">
    {% for pet in pets %}
    <div class="card">
      <img
        src="{{ pet.photo.url }}"
        class="card-img-top img-fluid"
        alt="{{ pet.name }}"
      />
      <div class="card-body">
        <h5 class="card-title">{{ pet.name }}</h5>
        <p class="card-text"><strong>Gender:</strong> {{ pet.gender }}</p>
        <p class="card-text">
          <i class="fas fa-map-marker-alt"></i> {{ pet.city }}, {{ pet.country}}
        </p>
        <a href="{% url 'pet_detail' pet.id %}" class="card-button-bottom-left">
          View Details
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<br /><br /><br />
{% endblock %}
