{% extends "base.html" %}
{% load static %}
{% block title %}Pet Care Tips{% endblock %}
{% block content %}
<div class="container-fluid mt-5" style="width: 90%; margin: auto;">
    <h2 class="text-center mb-4">Pet Care Tips</h2>
    {% if messages %}
    <div class="alert alert-success" role="alert" id="success-message">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </div>
    <script>
        setTimeout(function () {
            var message = document.getElementById('success-message');
            if (message) {
                message.style.display = 'none';
            }
        }, 6000); // Hide message after 6 seconds
    </script>
    {% endif %}
    {% if user.is_authenticated %}
    <div class="text-center mb-4">
        <a href="{% url 'add_article' %}" class="btn btn-success mb-2">Add New Article</a>
    </div>
    {% endif %}
    <div class="text-center mb-4 d-flex flex-wrap justify-content-center">
        <a href="{% url 'article_list' %}" class="btn btn-outline-primary m-1">
            <i class="fas fa-paw"></i> All
        </a>
        <a href="{% url 'article_list' %}?category=Dogs" class="btn btn-outline-primary m-1">
            <i class="fas fa-dog"></i> Dogs
        </a>
        <a href="{% url 'article_list' %}?category=Cats" class="btn btn-outline-primary m-1">
            <i class="fas fa-cat"></i> Cats
        </a>
        <a href="{% url 'article_list' %}?category=Fish" class="btn btn-outline-primary m-1">
            <i class="fas fa-fish"></i> Fish
        </a>
        <a href="{% url 'article_list' %}?category=Birds" class="btn btn-outline-primary m-1">
            <i class="fas fa-dove"></i> Birds
        </a>
    </div>
    <div class="row mt-4">
        {% for article in articles %}
        <div class="col-12 col-sm-6 col-md-3 mb-4">
            <div class="card h-100 d-flex flex-column">
                <div class="card-body flex-grow-1">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <p class="card-text">{{ article.category }}</p>
                    <p class="card-text">{{ article.author.username }}</p>
                    <a href="{% url 'article_detail' article.id %}" class="btn btn-primary card-button-bottom-left">Read More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
